.Navigation {
  display: flex;
  justify-content: flex-end;
  box-shadow: 10px 10px 41px 3px rgba(0, 0, 0, 0.23);
  background: linear-gradient(
    30deg,
    rgba(255, 255, 255, 0.06),
    rgba(255, 255, 255, 0.25),
    rgba(255, 255, 255, 0.08),
    rgba(255, 255, 255, 0.03)
  );
  box-sizing: border-box;
  padding: 0px 15px;
}

.Navigation p {
  font-size: 1.2em;
  cursor: pointer;
  background: #ec173a;
  color: whitesmoke;
  padding: 10px;
  border-radius: 10px;
  margin: 8px;
}

.Navigation p:hover {
  transform: scale(1.05);
}
